@import url(./normalize.css);

html[data-theme='light'] {
  --main-background: #FEFFFF;
  --main-text-color: #17252A;
  --main-text-highlight: #17252A;
  --bottom-background: #DEF2F1;
  --accent-color: #009c94;
  --close-button-color: #17252A;
  --social-button-color: #DEF2F1;
  --invert: none;
  --shadow: 0 0 20px var(--accent-color);
}

html[data-theme='dark'] {
  --main-background: rgb(19, 29, 56);
  --main-text-color: white;
  --main-text-highlight: white;
  --bottom-background: rgba(45, 212, 191, 0.2);
  --accent-color: #2dd4bf;
  --close-button-color: #eeebff;
  --social-button-color: #eeebff;
  --invert: invert();
  --shadow: 0 0 20px var(--accent-color);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--main-background);
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.container {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

h1 {
  color: var(--main-text-highlight);
  font-size: 50px;
  letter-spacing: -.025em;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: var(--main-text-highlight);
  font-size: 30px;
  letter-spacing: -.025em;
  font-weight: 500;
  margin: 30px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

h4 {
  margin: 0;
}

a {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
  color: var(--main-text-color);
  transition: text-shadow 0.3s ease-in-out;
  cursor: pointer;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--main-text-color);
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*  ---- THEME ----  */

.switch {
  padding: 20px 30px 0;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.lang-switch {
  width: 74px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-switch {
  width: 74px;
  height: 30px;
  border-radius: 55px;
  background-color: var(--bottom-background);
  overflow: hidden;
}

.theme {
  margin: 2px;
  width: 28px;
  height: 24px;
  border-radius: 55px;
  background-color: var(--theme-background);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.theme.dark {
  content: url(/public/icons/moon.svg);
  filter: invert();
}

.theme.light {
  content: url(/public/icons/sun.svg);
}

/*  ---- HEADER ----  */

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 620px;
  position: fixed;
  top: 96px;
  bottom: 96px;
}

.header-resume {
  display: flex;
  gap: 10px;
  margin: 30px 0;
  padding-top: 20px;
}

.header-menu {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  margin: 100px 0;
  gap: 20px;
}

header a {
  max-width: 200px;
}

header a:hover {
  color: var(--accent-color);
}

.header-text {
  transition: 0.3s ease-in-out;
}

.header-text:hover {
  text-shadow: var(--shadow);
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  position: relative;
  padding: 0 20px;
  height: 30px;
  max-width: 300px;
  border-radius: 55px;
  background: var(--bottom-background);
  border: none;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 transparent; 
}

.btn:hover {
  color: var(--accent-color);
  box-shadow: var(--shadow);
}

.btn:hover>.btn-text {
  transition: 0.3s ease-in-out;
  color: var(--accent-color);
}

.btn:hover>a {
  transition: 0.3s ease-in-out;
  color: var(--accent-color);
}

.btn:before {
  content: '';
  position: absolute;
  height: 300px;
  width: 30px;
  background: #ffffff41;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(-20deg) translateX(200px);
}

.header-icon {
  display: flex;
  gap: 20px;
}

.icon {
  height: 30px;
  cursor: pointer;
}

.icon:hover {
  filter: none;
}

.icon-telegram {
  content: url(/public/icons/telegram.svg);
  filter: var(--invert);
}

.icon-telegram:hover {
  content: url(/public/icons/telegrcolor.svg);
}

.icon-instagram {
  content: url(/public/icons/instagram.svg);
  filter: var(--invert);
}

.icon-instagram:hover {
  content: url(/public/icons/instagramcolor.svg);
}

.icon-github {
  content: url(/public/icons/github.svg);
  filter: var(--invert);
}

.icon-github:hover {
  content: url(/public/icons/githubcolor.svg);
}

.icon-linkedin {
  content: url(/public/icons/linkedin.svg);
  filter: var(--invert);
}

.icon-linkedin:hover {
  content: url(/public/icons/linkedincolor.svg);
}

/*  ---- MAIN BLOCK ----  */

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 46px 0 96px;
  z-index: 10;
}

/*  ---- ABOUT ----  */

.about-block {
  padding-left: 20px;
  margin-bottom: 50px;
}

.about-block p {
  margin: 14px 0 0 0;
}

.accent {
  color: var(--accent-color);
  transition: 0.3s ease-in-out;
}

.accent:hover {
  color: var(--main-text-color);
  text-shadow: var(--shadow);  
}

/*  ---- STEAK ----  */

.steak-block {
  padding-left: 20px;
  margin-bottom: 50px;
}

/*  ---- PORTFOLIO ----  */

.portfolio-block {
  display: flex;
  flex-direction: column;
}

.portfolio-block h3 {
  padding-left: 20px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
}

.portfolio-item:hover {
  box-shadow: 0px 0px 0px 0.6px var(--accent-color);
}

.portfolio-item:hover>.portfolio-top {
  color: var(--accent-color);
}

.portfolio-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-icon {
  height: 28px;
  scale: 0.7;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}

.portfolio-icon.portfolio-link {
  content: url(/public/icons/portfolio-link.svg);
  filter: var(--invert);
}

.portfolio-icon.portfolio-github {
  content: url(/public/icons/portfolio-github.svg);
  filter: var(--invert);
}

.portfolio-icon:hover {
  scale: 0.9;
}

.portfolio-steak {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.portfolio-steaklist {
  display: flex;
  align-items: center;
  max-width: 200px;
  height: 30px;
  padding: 0 16px;
  border-radius: 55px;
  background: var(--bottom-background);
  border: none;
  color: var(--accent-color);
  font-size: 14px;
}

/*  ---- FOOTER ----  */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-up {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: .3s linear;
  animation: appearance 2s forwards;
  border: none;
  transform: translateY(0px);
  background: transparent;
  padding: 40px 0 10px;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(40px)
  }

  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

.btn-up::before {
  content: "";
  transform: rotate(315deg);
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  background-image: url(/public/icons/rocket.svg);
  filter: var(--invert);
}

.footer-beamtext {
  font-size: 12px;
  color: var(--main-background);
  margin: 0;
}

.footer-up:hover>.footer-beamtext {
  color: var(--main-text-highlight);
}

.footer-text {
  font-size: 14px;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .portfolio-steaklist {
    font-size: 12px;
  }

  .footer-beamtext {
    font-size: 10px;
  }

  .footer-text {
    font-size: 12px;
  }
}

@media (max-width: 830px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .header-menu {
    margin: 50px 0;
  }

  .btn {
    padding: 0 10px;
  }

  .portfolio-item {
    gap: 10px;
  }

  .portfolio-steaklist {
    padding: 0 10px;
  }
}

@media (max-width: 680px) {
  .switch {
    padding: 20px 10px 0;
  }

  .container {
    flex-direction: column;
    padding: 0 10px;
  }

  .navigation {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 620px;
    position: static;
  }

  .header-menu {
    display: none;
  }

  .header-buttons {
    justify-content: space-between;
  }

  .icon {
    height: 24px;
  }

  .main {
    padding: 20px 0 10px 0;
  }

  h3 {
    text-align: center;
  }

  .portfolio-block h3 {
    padding-left: 0;
    text-align: center;
  }

  .portfolio-item {
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .navigation {
    padding-left: 0;
  }

  h2 {
    margin: 10px 0;
  }

  .header-resume {
    padding: 0;
    flex-wrap: wrap;
  }

  .header-menu {
    margin: 20px 0;
    gap: 10px;
  }

  .about-block {
    padding: 0;
    margin: 20px 0 20px 0;
  }

  .steak-block {
    padding: 0;
    margin: 20px 0 20px 0;
  }
}